
body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}


.title{
    margin-bottom: 40px;
    font-size: 28px;
    color: black;
}

.subtitle{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section{
    margin-top: 65px;
    
}

.nav{
    margin-top: 4%;
}
.nav__developer{
    display: inline-block;
    margin: 15px 0 10px;
}


.comments{
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin: 30px auto;
    max-width: 1000px;
}

.address{
    text-align: center;
}
